<%- include('partials/header') %>
<div class="BackgroundColorSky">


  <div class="container" style="padding-bottom: 10px;">
    <!-- <blockquote class="blockquote mb-0"> -->
    <h3 class="MarginTop">Benifits of Blood Donate</h3>
    <ul class="List-Style">
      <li>
        <h6><em>You get to save a life…or 2 million, and that feels good.</em></h6>
        <p>There aren’t many things in your routine that can save lives. But when you donate regularly, it gives you the opportunity to save multiple lives.
        </p>
      </li>

      <li>
        <h6><em>Burning calories</em></h6>
        <p>No, blood donation won’t become a weight loss fad any time soon. However, researchers at the University of California, San Diego have found that you can lose up to 650 calories per pint of blood donated. That’s not a bad deal for kicking
          back and doing a good deed.
        </p>
      </li>
      <li>
        <h6><em>Lowers the risk of cancer</em></h6>
        <p>Offloading a batch of your blood means reducing iron stores in your body. Iron has been associated with cancer causing free-radicals. The group that donated a couple times a year lowered their iron levels and therefore their risk
          of getting cancer compared to the non-donor group.
        </p>
      </li>
      <li>
        <h6><em>Maintains heart health</em></h6>
        <p>Another benefit of donating your blood is getting your heart into tick-top shape. Donating lowers the viscosity of your blood which reduces the friction on your arteries and blood vessels.</p>
      </li>
    </ul>
    <hr>

  <!-- Blood Facts -->
    <h3>Blood Facts in General</h3>
    <ul class="List-Style">
      <div class="" style="margin-top:20px;">
      <li> There is no substitute for human Blood </li>
      <li> Blood makes up about 7% of your body's weight. </li>
      <li> An average adult has about 14 to 18 pints of Blood. </li>
      <li> One standard unit or pint of Blood equals about two cups. </li>
      <li> Blood carries oxygen and nutrients to all of the body. </li>
      <li> Blood carries carbon dioxide and other waste products back to the lungs, kidneys and liver for disposal. </li>
      <li> Blood fights against infection and helps heal wounds. </li>
      <li> One unit of donated whole Blood is separated into components before use (red Blood cells, white Blood cells, plasma, platelets, etc.) </li>
      <li> There are four main Blood types: A, B, AB and O. </li>
      <li> Each Blood type is either Rh positive or negative. </li>
      <li> There are about one billion red Blood cells in a few drops of whole Blood. </li>
      <li> Red Blood cells live about 120 days in our bodies. </li>
      <li> Red Blood cells can be stored under normal conditions for up to 42 days. </li>
      <li> Frozen red Blood cells can be stored for ten years, and more. </li>
      <li> Platelets must be used within five days. </li>
      <li> Platelets are small Blood cells that assist in the process of Blood clotting helping those with leukemia and other cancers, controlling bleeding.</li>
      <li> Plasma, the fourth major component of Blood, is a sticky, pale yellow fluid mixture of water, protein and salts. It is 95% water. The other 5% is made up of nutrients, proteins and hormones. </li>
      <li> Blood Plasma constitutes 55% of the volume of human Blood. </li>
      <li> Plasma helps maintain Blood pressure, carries Blood cells, nutrients, enzymes and hormones, and supplies critical proteins for Blood clotting and immunity. </li>
      <li> Type AB plasma has been considered as the universal Blood plasma type, and therefore AB plasma is given to patients with any Blood type. </li>
      <li> Frozen Plasma can be stored for up to one year. </li>
      <li> Human Blood; red Blood cells, white Blood cells, plasma and platelets are made naturally by the body in the bone marrow.</li>
    </ul>
  </div>
</div>

<%- include('partials/footer') %>
