<%- include('partials/header') %>

<!-- image for homepage -->
<img src="images/5266181.png" alt="blood" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

<!-- card- eligible and benifits -->
<div class="container">
  <div class="card-deck">
    <div class="card cardcolor div1" style="background: #af6be0;">
 <!-- style="background: #af6be0;" -->
      <div class="card-body text-center" onclick="window.location.href = '/eligible'">
        <div class=""><img class="bloodpng1" src="images/blood1png.png" alt=""></div>
        <!-- <a href="http://www.google.com"></a> -->
        <h4> Who Can Donate </h4>
        <h4> the Blood </h4>
        <h4> & Eligibility</h4>
        <a href="#" class="btn btn-dark" style="margin-top : 15px">Read More</a>
      </div>
    </div>
    <div class="card cardcolor div2" style="background: #4bcf23;">
      <div class="card-body text-center">
        <div class=""><img class="bloodpng1" src="images/blood3png.png" alt=""></div>
        <h4> Blood Types </h4>
        <h4> and </h4>
        <h4> Transfusion</h4>
        <a href="#" class="btn btn-dark" style="margin-top : 15px">Read More</a>
      </div>

    </div>
    <div class="card cardcolor div3" style="background: #218de4;">
      <div class="card-body text-center">
        <div class=""><img class="bloodpng1" src="images/blood2png.png" alt=""></div>
        <h3>Benifits</h3>
        <h4> Of </h4>
        <h4> Blood Donate </h4>
        <a href="#" class="btn btn-dark" style="margin-top : 15px">Read More</a>
      </div>
    </div>

    <!-- bootstrap-5 card method demo -->
    <!-- <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->

  </div>
</div>


<!-- Register -->
<div class="registerhome">

  <div class="container register-log">
    <h3 style="margin-top : 25px">“You Can’t Buy A Life For Someone With Money, But You Can Save A Life Of Someone By Donating Blood To Him.”</h3>
    <img src="images/4414678.jpg" alt="" width="350" style="margin-top:20px">

    <div class="" style="margin-top:20px">
      <a class="btn btn-danger btn-lg" href="/login" role="button"><i class='fa fa-tint'></i>&nbsp; Register</a>
    </div>
  </div>
</div>

<!-- Blood Availabilty -->
<div class="filter">
  <div class="card">
    <div class="card-header">
      Recent Blood Donors
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h5>BLOOD AVAILABILITY</h5>
        <img src="images/blood-type.png" alt="" width="100">
        <p> “Sometimes, The Blood Can Do What Money Cannot.”</p>
        <footer class="blockquote-footer"><cite title="Source Title">BDO</cite></footer>
      </blockquote>
      <div class="">

        <div class="" style="margin-top : 20px">
          <a class="btn btn-danger btn-lg" href="/search" role="button"><i class='fa fa-tint'></i>&nbsp; CHECK BLOOD AVAILABILITY</a>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include('partials/footer') %>
