<%- include('partials/header') %>

<body class="text-center" style="background-color:rgb(230, 249, 255);">

  <main class="form-signin MarginTop">
    <form class="" action="/login" method="post">

      <h1 class="h3 mb-3 fw-normal" style="margin-top:15px; text-align:center;">Login</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

      </div>

    </form>
    <hr>
    <div class="login_message">
      <p class="registerpara">Don’t have an account ? <a href="/register" class=" btn  btn-dark register">Register</a> </p>
    </div>
    <p class="mb-3 text-muted">&copy; 2021</p>
    <!-- mt-5 -->
  </main>
  <script src="public/index.js" charset="utf-8"></script>
